Repository Real-Dev-Squad/website-status, pull requests merged in 2023-04, with the labels that each got.

#490 moved devdependencies
  package.json
Labels: dependencies

#491 break task card into components and write tests
  __tests__/Unit/Components/Tasks/Loader.test.tsx
  __tests__/Unit/Components/Tasks/TaskLevelMap.test.tsx
  __tests__/Unit/hooks/useKeyLongPressed.test.tsx
  package.json
  src/components/tasks/card/Loader.tsx
  src/components/tasks/card/TaskLevelMap.tsx
  src/components/tasks/card/index.tsx
  yarn.lock
Labels: refactor, enhancement, tests

#468 #429 Task card component- redesign
  __tests__/Unit/Components/TaskList.test.tsx
  __tests__/Unit/Components/Tasks/Card.test.tsx
  __tests__/Unit/Components/Tasks/Loader.test.tsx
  __tests__/Unit/hooks/useKeyLongPressed.test.tsx
  src/components/constants/beautified-task-status.js
  src/components/tasks/card/TaskLevelMap.tsx
  src/components/tasks/card/card.module.scss
  src/components/tasks/card/index.tsx
  src/interfaces/task-status.ts
  src/styles/tasks.module.scss
  src/test_utils/createMockRouter.tsx
  yarn.lock
Labels: UI

#341 Task details page
  __mocks__/handlers.ts
  __mocks__/handlers/task-details.handler.ts
  __tests__/Unit/Components/Tasks/TaskDetails.test.tsx
  public/participant_logo.png
  src/components/taskDetails/Details.tsx
  src/components/taskDetails/TaskContainer.tsx
  src/components/taskDetails/index.tsx
  src/components/taskDetails/task-details.module.scss
  src/components/taskDetails/taskDetails.reducer.ts
  src/components/taskDetails/taskPriorityColors.ts
  src/components/tasks/card/card.module.scss
  src/components/tasks/card/index.tsx
  src/helperFunctions/convertTimeStamp.ts
  src/helperFunctions/updateTaskDetails.ts
  src/pages/mine.tsx
  src/pages/tasks/[id].tsx
Labels: feature task

#502 Rtk query task tags api
  __mocks__/handlers.ts
  __mocks__/handlers/tags.handler.js
  __mocks__/handlers/taskTags.handler.ts
  __tests__/Unit/Components/TaskList.test.tsx
  __tests__/Unit/Components/Tasks/Card.test.tsx
  __tests__/Unit/Components/Tasks/TaskLevelMap.test.tsx
  __tests__/Unit/hooks/taskTagAPI.test.tsx
  src/app/services/api.ts
  src/app/services/taskTagApi.ts
  src/components/constants/url.ts
  src/components/tasks/card/TaskLevelMap.tsx
  src/components/tasks/card/TaskTagEdit.tsx
  src/components/tasks/card/index.tsx
  src/test-utils/renderWithProvider.tsx
Labels: tests, RTK

#506 Tags api rtk query
  __tests__/Unit/Components/Tasks/Card.test.tsx
  src/app/services/api.ts
  src/app/services/tagsApi.ts
  src/components/tasks/TabSection.tsx
  src/components/tasks/TasksContent.tsx
  src/components/tasks/card/TaskTagEdit.tsx
  src/context/tasks.context.tsx
  src/helperFunctions/updateCardContent.ts
  src/pages/index.tsx
Labels: RTK

#474 Feat: One-Click Issue to Task Conversion
  __mocks__/db/tasks.ts
  __tests__/Unit/Components/Issues/Card.test.tsx
  __tests__/Unit/Components/Navbar.test.tsx
  __tests__/Unit/Components/TaskList.test.tsx
  __tests__/Unit/Components/Tasks/Card.test.tsx
  __tests__/Unit/Components/Tasks/Loader.test.tsx
  __tests__/Unit/hooks/useUpdateTask.test.tsx
  __tests__/Unit/utils/groupTasksByStatus.test.ts
  src/components/Layout/index.tsx
  src/components/constants/messages.ts
  src/components/constants/task-status.js
  src/components/constants/url.ts
  src/components/issues/Card.module.scss
  src/components/issues/Card.tsx
  src/components/issues/IssueList.tsx
  src/components/tasks/TaskList/TaskList.tsx
  src/components/tasks/TasksContent.tsx
  src/components/tasks/card/index.tsx
  src/context/index.tsx
  src/context/isUserAuthorized.tsx
  src/helperFunctions/getUser.ts
  src/hooks/useUpdateTask.ts
  src/interfaces/issueItem.type.ts
  src/interfaces/issueProps.type.ts
  src/interfaces/task.type.ts
  src/interfaces/taskItem.type.ts
  src/pages/issues.tsx
  src/styles/issues.module.scss
  src/utils/groupTasksByStatus.ts
Labels: feature task
